/* testing start */
.my-container{
  border: 3px solid green;
}

.my-row{
  border: 3px solid red;
}

.my-col{
  border: 3px dotted blue;
}
/* testing end */
.navbar-nav > li{
  padding-left:15px;
  padding-right:15px;
}

.custom-toggler.navbar-toggler {
  border-color:  #651FFF;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(101,31,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/* font format */
h1 {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 76px;

  color: #000000;
}

p {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #000000;
}
/* font format */

.bold {
  font-weight: bold;
  color: #651FFF;
}

.intro{
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  /* text-align: right; */
  color: #000000;
}

.introcont{
  height:100vh;
  width:100vw;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.introcontainer{
  width: 1000px;
  height: 293.53px;
  border: 3px solid red;
}


/* card css start */
.my-col-trans{
  border: 3px dotted transparent;
}

.mainpill{
  background-color: white;
  border: none;
  color: #651FFF;
  padding: 6px 12px;
  text-align: center;
  display: inline-block;
  margin: 4px 3px;
  border-radius: 8px;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

.secondarypill{
  background-color: white;
  border: none;
  color: black;
  padding: 6px 12px;
  text-align: center;
  display: inline-block;
  margin: 4px 3px;
  border-radius: 8px;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;

}

.bgclr{
  background: #F9F9F9;
}

.first{
  margin-left: 0px;
}

.last{
  margin-right: 0px;
}

.marg{
  margin-top: 40px;
  margin-bottom: 40px;
}
/* card css end */

.spacer{
  height: 15vh;
}

.nodec{
  text-decoration: none;
}

.margins{
  margin-bottom: 16px;
}

.farmily{
   background-color: #2A363B;
 }

.planty{
  background-color: #F6F5F3;
}

.vibecheck{
  background-color: #FFFAF0;
}
.link {
  text-decoration: none;
  background-image: linear-gradient(#651FFF, #651FFF);
  color: #651FFF;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: 100% 2px;
  transition: background-size .6s, background-position .25s ease-in .25s;
}

.link:hover {
  text-decoration: none;
  color: white;
  background-size: 100% 100%;
  background-position: 0% 0%;
  transition: color 0.6s, background-position .25s, background-size .25s ease-in .25s;
}

.ani:before{
  content: '';
  animation: animate5 infinite 12s;
}

@keyframes animate5 {
  0%{
    content: 'i_know[1024] = "C"';
  }

  20%{
    content: 'i_know[1024] = "C"';
  }

  40%{
    content: 'i_know = "Python"';
  }

  60%{
    content: 'let iKnow = "Swift"';
  }

  80%{
    content: 'var iKnow = "JavaScript";';
  }

  100%{
    content: 'I know HTML5 and CSS3 as you can see :)';
  }
}

.pad{
  margin-left: 20px;
  margin-right: 20px;
}

.padfirst{
  margin-left: 0px;
  margin-right: 20px;
}

.padlast{
  margin-left: 20px;
  margin-right: 0px;
}

.socialcolor{
  color: #651FFF;
}

.timeline {
  position: relative;
  list-style-type: none;
  height: 100%;
}

.timeline:before {
  position: absolute;
  left: 0%;
  top: 0%;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  background: #651FFF;
  z-index: 5;
}

.timeline li {
  padding: 12px 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-r {
  position: relative;
  float: left;
  left:-5.7px;
}

.flag-wrapper {
  position: relative;
  display: inline-block;

  text-align: left;
}

.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right:0%;
  content: ' ';
  display: block;
  width: 18px;
  height: 18px;
  margin-top: -10px;
  background: #ffff;
  border-radius: 12px;
  border: 5px solid  #651FFF;
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.titlefont{
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}

.time-wrapper {
  display: inline;
  margin-left: 15px;
  margin-top: -4px;
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #651FFF;
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}

.desc {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.direction-r .desc {
  margin: 4px 0 0 12px;
}

/* //mobile changes */
@media (min-width: 0px) and (max-width: 767.98px) {
   .intro{
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    /* text-align: right; */
    color: #000000;
  }

  p {
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    color: #000000;
  }

  h1 {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;

    color: #000000;
  }

  .titlefont{
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
  }

}
