<div class="contact-me">
    <div class="row py-3">
        <div class="col-md mx-4 mx-md-0">
          <h1>Say hello!</h1>
        </div>
        <div class="col-md mx-4 mx-md-0">
          <p>
            You can reach me through my <a href="https://www.linkedin.com/in/johnson-su/" target="_blank"><span class="bold link nodec">LinkedIn</span></a> or send me an <a class="bold link nodec" href = "mailto: johnsonn.su@mail.utoronto.ca"><span class="bold link nodec">email</span></a>.
            Whether you want to do a Hackathon with me or get to know
            me better I’d be happy to talk with you!
          </p>
        </div>
      </div>
</div>