<div class="intro">
    <div class="container-fluid" style="height: 100vh;">
      <custom-navbar></custom-navbar>

      <div class="center">
        <p class="intro mx-4 mx-md-0" style="background-color:white;">
          Hello, I’m <span class="bold">Johnson Su</span> a software engineer<br class="nomobile">
          studying Computer Science at the University<br class="nomobile">
          of Toronto with a passion for emerging<br class="nomobile">
          technologies and their applications.
        </br>
        </br>
        <!-- <span class="ani"></span> -->
        <span class="txt-rotate intro desktopsize"data-period="2000" data-rotate='["char i_know[1024] = \"C\";", "i_know = \"Python\"", "String iKnow = \"Java\"", "var iKnow = \"JavaScript\";", "I know HTML5 and CSS3 as you can see :)"  ]'></span>
        </p>
      </div>

      <section class="centerbot mx-4 mx-md-0">
        <div class="scroll-down"></div>
      </section>
    </div>
</div>