<div class="my-current-status">
    <div class="spacer"></div>

    <!-- what I'm up to  -->
    <div class="row py-3 justify-content-end order-2 order-md-1">
    <div class="col-md-6">
        <img src="../../Assets/face.png" class="mx-4 mx-md-0">
    </div>
    </div>
    <div class="row py-3 order-1 order-md-2">
    <div class="col-md mx-4 mx-md-0">
        <h1>What I'm up to</h1>
    </div>
    <div class="col-md mx-4 mx-md-0">
        <p>
        Currently, I'm a <span class="bold">Software Engineering Intern</span> at <a href="https://www.indexexchange.com/" target="_blank"><span class="bold link nodec">Index Exchange</span></a>.
        In my free time I'm doing <span class="bold">app development</span> for my medication tracking app, learning more about <span class="bold">product design</span>, and improving my <span class="bold">machine learning</span> skills.
        <br>
        <br>I’m interested in Summer 2021 internships!
        </p>
    </div>
    </div>
</div>