<div class="custom-footer">
    <div class="container-md">
        <div class="row  mb-5">
            <div class="col-md">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            href="https://www.linkedin.com/in/johnson-su/"
                            target="_blank"
                            ><p>LinkedIn</p></a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            href="https://github.com/Johnson-Su"
                            target="_blank"
                            ><p>GitHub</p></a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            href="https://devpost.com/Johnson-Su"
                            target="_blank"
                            ><p>Devpost</p></a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            href="Johnson_su_resume.pdf"
                            target="_blank"
                            ><p>Resume</p></a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>